.taskContent {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  background: var(--gray-500);
  border: 1px solid var(--gray-400);
  border-radius: 8px;
  padding: 1rem;

  min-height: 4.5rem;
}

div.taskContent:has(input[type="checkbox"]:checked) {
  border: 1px solid var(--gray-500);
}

.taskContent > div {
  display: flex;
  gap: 0.5rem;
}

.taskContent input {
  justify-content: flex-start;
  appearance: none;
  margin: auto 0;

  border: 2px solid var(--blue);
  width: 18px;
  height: 18px;
  border-radius: 50%;
}

.taskContent input:hover {
  background: var(--blue-dark);
}

.taskContent input:checked {
  border: 2px solid var(--purple-dark-inverse);
  background: url(../assets/check-circle-bold.svg), var(--purple-dark-inverse);
  filter: invert(100%);
  background-position: center;
  background-size: 1.5rem;
}

.taskContent input:checked:hover {
  border: 2px solid var(--purple-inverse);
  background: url(../assets/check-circle-bold.svg), var(--purple-inverse);
  filter: invert(100%);
  background-position: center;
  background-size: 1.5rem;
}

.taskContent p {
  color: var(--gray-100);
  transition: color 0.4s ease-in-out;
}

.taskContent input:checked + p {
  color: var(--gray-300);
  text-decoration: line-through;
}

.taskContent button {
  padding: 0.375rem;
  line-height: 0;

  background: none;
  border: none;
  border-radius: 4px;

  color: var(--gray-300);
  cursor: pointer;
}

.taskContent button:hover {
  color: var(--red-danger);
  background: var(--gray-400);
}
